---
import { getCollection } from "astro:content"
import BaseLayout from "../layouts/BaseLayout.astro"
import BlogPost from "../components/BlogPost.astro"

const pageTitle = "Spano"

const allPosts = await getCollection('posts')
---
<BaseLayout pageTitle={pageTitle}>
		<h1>blog</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, odio commodi? Veniam atque aperiam dicta ullam temporibus eius nostrum perspiciatis quod, velit in reprehenderit amet, quibusdam vero corrupti voluptates impedit. Inventore, et vero? Dicta blanditiis, quos delectus odio sunt est repellat! Veniam quod optio officia itaque quia alias delectus sunt.
        </p>
        <ul>
            {allPosts.map((post) => 
            <BlogPost url={`/posts/${post.slug}/`} title={post.data.title}/>
			)}
        </ul>
</BaseLayout>

