---
import Social from "../components/Social.astro"
---

<footer>
  <div>
    <Social platform="github" username="SpanoWebDev"/>
    <Social platform="x" username="spn254k"/>
    <Social platform="linkedin" username="Silvanos Ngotho"/>
  </div>
</footer>

<style>
  a {
    padding: 0.5rem 1rem;
    color: white;
    background-color: #4c1d95;
    text-decoration: none;
  }
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>